
:root {
    --accent-colour: #2196F3;
    --title-text-colour: #212121;
    --background-colour: #ffffff;
    --primary-text-colour: #757575;
    --icons-colour: #AFB1B8;
    --transparent-background: rgba(47, 48, 58, 0.8);
    --logo-color: #000000;
    --background-button-color: #757575;
    }
html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Roboto, sans-serif;
    background-color: var(--background-colour);
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 14px;
}


/* site-header */
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navigation-and-logo {
    display: flex;
    align-items: center;
}
.logo {
    color: var(--logo-color);
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    display: block;
}
.logo .accent {
    color: var(--accent-colour);
}

.site-nav {
    margin-left: 85px;
}

.site-nav li:not(last-child) {
    margin-left: 50px;
}

.site-nav .nav-item {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-colour);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    text-decoration: none;

}

.site-nav .nav-item:hover,
.site-nav .nav-item:focus {
     color: var(--accent-colour)
    }

.nav-item li {
    padding-top: 32px;
}
.nav-item.current{
    display: block;
    color: var(--accent-colour);
    text-decoration:none;
}
.nav-item.current::after {
    width: 50px;
    content: "";
    display: block;
    align-content: stretch;
    position: absolute;
    margin-bottom: 0px;
    margin-top: 28px;
    height: 5px;
    background-color: var(--accent-colour);
    border-radius: 2px;
}

.contacts, .site-nav {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    }
.contacts {
    margin-left: auto;
    }
.contacts-item {
    display: inline-flex;
    align-items: center;
    color: var(--primary-text-colour);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contacts-item:not(last-child) {
    margin-left: 30px;
}


.contacts .contacts-item:hover,
.contacts .contacts-item:focus { 
    color: var(--accent-colour)
}

.contacts .contacts-item:hover .contacts-icon {
    fill: var(--accent-colour);
}
.contacts-icon {
    margin-right: 10px;
    fill: var(--primary-text-colour);
}
.page-header .container {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--background-colour);
    border: 1px solid #ECECEC;
}
/* .page-header {
    position: fixed;
    min-width: 100%;
} */
/* block hero */
.hero {
    text-align: center;
    background-color: var(--transparent-background);
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: 
    linear-gradient( 
    var(--transparent-background), var(--transparent-background)),
    url(../images/header.jpg);
    height: 600px;
    max-width: 1600px;
    background-repeat: no-repeat;
    background-position: center;

}
.hero .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-colour);
    margin-top: 0px;
    margin-bottom: 30px;
}

/* button */
.modal-button {
    color: var(--background-colour);
    background-color: var(--accent-colour);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 136px;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
}

/* site-advantages */
.advantages-list + .advantages-list {
    margin-left: 30px;
}

.advantages-icon {
    display : block;
    background-color: #F5F4FA;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 30px;
}
.section-block {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-colour);
    margin-bottom: 50px;
    margin-top: 0px;
}
.advantages {
    display: flex;
    align-items: center;
}
.advantages .title {
    font-weight: 700;
    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-colour);
    margin-bottom: 10px;
    margin-top: 0px;
}
.advantages .text {
    font-weight: 400;
    line-height: 1.7;
    color: var(--primary-text-colour);
    margin: 0px 0px;
}

/* what-we-are-doing */
.activities {
    display: flex;
    align-items: center;
}
.activities-item {
    position: relative;
}
.title-activities {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    font-weight: 700;
    font-size: inherit;
    line-height: 1.14;
    text-align: center;
    color: var(--background-colour);
    background-color: var(--transparent-background);
    padding-top: 27px;
    padding-bottom: 27px;
    margin: 0px 0px;
}

.activities-item + .activities-item {
margin-left: 30px;
}

/* our-team */
.members-wraper {
    background-color: #F5F4FA;
}
.team {
    display: flex;
    align-items: center;
}
.team .team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--title-text-colour);
    margin-top: 30px;
    margin-bottom: 10px;
}
.team .team-member-title {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-text-colour);
    margin-top: 0px;
    margin-bottom: 16px;
}

.social-media-list {
    display: flex;
    justify-content: center;
}

.social-media a {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--background-colour);
    justify-content: center;
    align-items: center;
}
.social-media + .social-media {
margin-left: 10px;
}
.media-icon {
    fill: var(--icons-colour);
}
.social-media-link:hover .media-icon {
    fill: var(--background-colour);
}
.team-item + .team-item {
    margin-left: 30px;
}
.team-item {
    padding-bottom: 24px;
    background-color: var(--background-colour);
    box-shadow: 
    0px 2px 1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
/* regular clients */
.clients-list {
    display: flex;
    justify-content: center;
}
.clients-item a {
    display : flex;
    align-items : center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 170px;
    height: 90px;
}

.clients-icon {
    fill: var(--icons-colour);
    width: 80px;
    height: 42px;
}

.clients-item + .clients-item {
margin-left: 30px;
}
.clients-item a:hover{
    color: var(--accent-colour);
    border: 1px solid var(--accent-colour);
}
.clients-item a:hover .clients-icon {
    fill: var(--accent-colour);
}
/* footer */
.footer {
 background-color:#2F303A ;
}

.footer .container {
    display: flex;
    align-items: center;
}
.footer-container1 {
    margin-right: 69px;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 231px;
}
.footer-container1 .logo {
    color: var(--background-colour);
    margin-bottom: 20px;
}
.footer .social-media-list a {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
}

.social-media-item + .social-media-item {
margin-left: 10px;
}

.social-media-list li :hover,
.social-media-list li :focus {
    background-color: var(--accent-colour);
}
.footer-container2 {
    margin-right: 94px;
    width: 206px;
}
.footer-adress .adress {
    line-height: 1.71;
    color: var(--background-colour);
    font-style: normal;
    text-decoration: none;
}

.footer-adress .contacts {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
}

.footer .appeal {
    display: flex;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--background-colour);
    margin-bottom: 20px;
}
.footer .button1 {
    display: inline-flex;
    align-items: center;
    padding-right: 28px;
    padding-left: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 12px;
    font-family: inherit;
    font-weight: 700;
    text-decoration: none;
    color: var(--background-colour);
    background-color: var(--accent-colour);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button-icon {
    margin-left: 10px;
}

/* styles for portfolio */      
/* button */

.button-list {
    display: flex;
    padding-top: 93px;
    padding-bottom: 50px;
    justify-content: center;
}
.button-item + .button-item {
    margin-left: 8px;
}
  .button {
    display: block;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    border: 1px solid transparent;
    cursor: pointer;
}
.button:hover,
.button:focus {
    background-color: var(--accent-colour);
    color: var(--background-colour);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* our projects */
.our-projects {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 94px;
}
.project-list {
    position: relative;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.img-wraper {
    position: relative;
}
.project-list:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.project-list:nth-child(3n) {
    margin-right: 0px;
}

.project-list img {
    display: block;
}
.project-list:nth-last-child(-n+3) {
    margin-bottom: 30px;
}
.projects {
    text-decoration: none;
}
.projects:hover .project-text {
opacity: 1;
}     
.projects-list.project-title {
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: var(--title-text-colour);
padding: 0px 24px 0px 24px;
margin-top: 20px;
margin-bottom: 4px;
}
.projects .project-item {
font-size: 16px;
line-height: 1.87;
color: var(--background-button-color);
padding: 0px 24px 20px 24px;
margin: 0px;
}
.projects .project-text {
position: absolute;
top: 0;
left: 0;
height: 100%;
opacity: 0;
font-size: 18px;
line-height: 1.56;
color: var(--background-colour);
background-color: rgba(33, 150, 243, 0.9);
padding-top: 64px;
padding-bottom: 64px;
padding-left: 24px;
padding-right: 24px;
margin-top: 0px;
margin-bottom: 0px;
}